{
  "artifactory": [
    {
      "url": "https://{{ artifactory_server }}/artifactory",
      "accessToken": "{{ artifactory_accesstoken }}",
      "serverId": "{{ artifactory_server }}",
      "isDefault": true
    }
  ],
  "Version": "1"
}
